<div class="backpage">
    <div class="heading">
        <h4>Employee Details</h4>
    </div>
<div class="box">
    
    <p class="label">Name:<b>{{employee.name}}</b></p>
    <p class="label">Gender:<b>{{employee.gender}}</b></p>
    <p class="label">Company:<b>{{employee.company}}</b></p>
    <p class="label">Role:<b>{{employee.role}}</b></p>
    <p class="label">Package:<b>{{employee.package}}</b></p>
    <p class="label">Email:<b>{{employee.email}}</b></p>
    <p class="label">D-O-B:<b>{{employee.dob}}</b></p>
    <p class="label">Address Line:<b>{{employee.address?.addressLine}}</b></p>
    <p class="label">City:<b>{{employee.address?.city}}</b></p>
    <p class="label">State:<b>{{employee.address?.state}}</b></p>
    <p class="label">Pincode:<b>{{employee.address?.pincode}}</b></p>

</div>
</div>
