
<div class="backpage">
    <div class="box">
        <form [formGroup]="loginForm">
        <br>
        <h4>Welcome</h4>
        <h5>Please Login to Continue</h5>
        <input type="email" id="textbox1" placeholder="Enter your email here" formControlName="email"><br>
        <input type= "password" id="textbox1" placeholder="Enter your password here" formControlName="password"><br>
        <button (click)="login()" class="btn btn-info" id="button">Login</button>
    </form>
    </div>

</div>


